
tab[tab-multiple-handler-selected] > hbox,
tab[tab-multiple-handler-selected] > toolbarbutton,
tab[tab-multiple-handler-selected][class="tabbrowser-tab tabmail-tab icon-holder"],
tab[tab-multiple-handler-selected][class="tabbrowser-tab"]
{
  color:HighlightText !important;
  
  background-color:Highlight !important;
  
  border-bottom-color:Highlight !important;
  border-left-color:Highlight !important;
  border-top-color:Highlight !important;
  border-right-color:Highlight !important;
  
  -moz-border-end-color:Highlight !important;
  -moz-border-start-color:Highlight !important;
  
  -moz-border-right-colors:Highlight !important;
  -moz-border-left-colors:Highlight !important;
}